<div class="main_container">
  <h2>スケジュール詳細</h2>
  
  <table>
    <tr>
      <th>タイトル</th>
      <td><%= @schedule.title %></td>
    </tr>
    <tr>
      <th>開始日</th>
      <td><%= @schedule.start_day.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th>投稿日時</th>
      <td><%= @schedule.end_day.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th>終日</th>
      <td>
        <% @end_check = @schedule.end_check %>
        <% if @end_check == true %>
          <% @end_check = "○" %>
          <%= @end_check %>
        <% else @end_check == false %>
          <% @end_check = "" %>
          <%= @end_check %>
        <% end %>
      </td>
    </tr>
    <tr>
    <th>スケジュールメモ</th>
    <td><pre><%= @schedule.memo %></pre></td>
  </tr>
  </table>

  <div>
    <ul>
      <li><%= link_to "スケジュール一覧に戻る", :schedules, class:"scheduleList" %></li>
      <li><%= link_to "スケジュールを編集する", :edit_schedule, class:"scheduleList"%></li>
      <li><%= link_to "スケジュールを削除", :schedule, method: :delete, data: { confirm: "本当に削除しますか？" },  class:"scheduleList"%></li>
    </ul>
  </div>
</div>